/*
Sass::SyntaxError: "html .gist .gist-file .gist-meta" failed to @extend ".sans".
The selector ".sans" was not found.
Use "@extend .sans !optional" if the extend should be able to fail.


Backtrace:
/home/balar/octopress/sass/base/_syntax.scss:74
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/util/subset_map.rb:106:in `block in each_value'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/util/subset_map.rb:106:in `each'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/util/subset_map.rb:106:in `each_value'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/tree/visitors/extend.rb:16:in `visit'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:39:in `css_tree'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:20:in `render'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/engine.rb:278:in `render'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/bin/compass:44:in `call'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/bin/compass:23:in `load'
/home/balar/octopress/vendor/bundle/ruby/2.0.0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \"html .gist .gist-file .gist-meta\" failed to @extend \".sans\".\A The selector \".sans\" was not found.\A Use \"@extend .sans !optional\" if the extend should be able to fail.\A "; }
